@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap&subset=cyrillic');


@media screen and (min-width: 350px) and (max-width: 1000px){
    .intro {
        flex-wrap: wrap;
    }
    
    .left {
        width: 350px;
        min-width: 350px;
        padding-bottom: 20px;
    }

    .right {
        width: 350px;
        min-width: 350px;
    }

    .services {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 auto;

    }

    .portfolio {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 800px;
        margin: 0 auto;
    }

    .head {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    .grid {
        display: flex;
        flex-direction: column;
        width: 620px;

    }
    
    .item {
        background-color: #5281FF;
        width: 300px;
        height: 300px;
        margin: 5px;
    }
    
    .portfolio-nav>ul {
        display: flex;
        flex-direction: column;
        width: 620px;
    }
    
    
    .content {
        width: 1580px;
        min-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding-top: 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-bottom: 70px;
        width: 600px;
    
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 580px;
        height: 450px;
        background-color: #2C2C2C;
        padding-left: 50px;
        color: rgba(255, 255, 255, 0.8);
        margin-left: 140px;
    }

}

body {
    margin: 0px;
    padding: 0px;
    background-color: #F6F2F2;
    font-family: 'Open Sans';
}

header {
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
    max-width: 1250px;
    min-width: 600px;
    height: 89px;
    background-color: rgba(0,0,0,0.8);
    margin: 0 auto;
}

nav>ul {
    display: flex;
    margin: 0 auto;
}

nav>ul>li {
    display: flex;
    height: 89px;
    width: 93px;
    justify-content: space-around;
    align-items: center;
}

nav>ul>li:hover {
    background-color: #FF3F40;
}

nav>ul>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.intro {
    display: flex;
    
    max-width: 1250px;
    margin: 80px auto;
}

.left {
    width: 600px;
    margin-right: auto;
    min-width: 600px;
}

h1 {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 800;
    font-size: 60px;
    margin: 0px;
}

.left>p {
    display: flex;
    width: 550px;
    font-size: 16px;
    margin-bottom: 50px;
}

.contuctus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: 230px;
    background-color: #FF2D2D;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

.right  {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF2D2D;
    width: 600px;
    height: 360px;
    min-width: 600px;
}

.in {
    background-color: #ffe0e0;
    height: 70px;
    width: 70px;
}

.content {
    width: 1580px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 20px;
}

.services {
    display: flex;
    max-width: 1250px;
    margin: 80px auto;
}

.services-left {
    width: 600px;
    height: 360px;
    min-width: 600px;
    margin-right: 30px;
}

h2 {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 40px;
    margin: 0px;
}

.learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    width: 220px;
    background-color: #FFF;
    color: #FF2D2D;
    font-size: 18px;
    border-radius: 5px;
    border-color: #FF2D2D;
    border-style: solid;
    margin-top: 50px;
}

.services-right {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    min-width: 600px;
}

.service {
    display: flex;
    flex-direction: column;
    width: 295px;
    max-width: 295px;
    min-width: 295px;
    margin-bottom: 30px;
}

.service>h3 {
    margin-bottom: 2px;
}

.service>p {
    margin-top: 0px;
}


.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1250px;
    margin: 80px auto;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
}

.line2 {
    height: 5px;
    width: 140px;
    background-color: #FF2D2D;
}

.portfolio-nav {
    max-width: 1250px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.portfolio-nav>ul {
    display: flex;
    flex-direction: row;
}

.portfolio-nav>ul>li {
    list-style: none;
    text-transform: uppercase;
    margin-left: 25px;
    margin-right: 25px;
}

.portfolio-nav>ul>li>a:hover {
    color: #FF2D2D;
}

.portfolio-nav>ul>li>a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: #000;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.item {
    background-color: #5281FF;
    width: 300px;
    height: 300px;
    margin: 5px;
}









.team {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 1250px;
    margin: 80px auto;
}

.team-head {
    max-width: 500px;
    margin-bottom: 70px;
}

.peoples {
    display: flex;
    flex-direction: row;
}

.photo {
    background-color: #FF3F40;
    width: 320px;
    height: 460px;
    margin-right: 90px;
}

h3 {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 30px;
    margin: 0px;

}


.description {

}

.soc {
    font-style: italic;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
}

.soc>a {
    margin-right: 15px;
    text-decoration: none;
    color: #000;
}



.cards {
    display: flex;
    flex-direction: row;

}

.card {
    width: 200px;
    height: 220px;
    max-width: 200px;
    max-height: 200px;
    margin-right: 20px;
    margin-top: 50px;
    background-color: #FF3F40;
    display: flex;
    flex-direction: column;
}

.card-photo {
    background-color: #FF3F40;
    width: 200px;
    height: 180px;
    max-width: 200px;
    max-height: 180px;
}

.card-podpis {
    background-color: rgba(0,0,0,0.5);
    width: 200px;
    height: 40px;
    max-width: 200px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-podpis>p {
    color: #FFF;
    text-transform: uppercase;
    font-size: 20px;

}





.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1580px;
    height: 520px;
    min-width: 1580px;
    min-height: 520px;
    background-color: #2C2C2C;
    margin-bottom: 70px;
}

.subscribe>h2 {
    color: #FFF;
}

.subscribe>p {
    color: rgba(255, 255, 255, 0.5);
}


.field {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.field>.contuctus {
    height: 80px;

}


.adress {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 80px;
    width: 520px;
    background-color: #FFF;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 20px;
    padding-left: 50px;
}



.getintouch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;;
}

.getintouch-head {
    max-width: 700px;
    margin-bottom: 70px;
    
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 70px;

}

.contact-form {
    max-width: 700px;
    width: 700px;
    margin-left: 140px;
    height: 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 340px;
    min-width: 340px;
    background-color: rgba(0,0,0,0.1);
    color: #000;
    font-size: 18px;
    border-radius: 5px;
}

.message {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 250px;
    width: 700px;
    background-color: rgba(0,0,0,0.1);
    color: #000;
    font-size: 18px;
    border-radius: 5px;
    padding-left: 50px;

}

.contact-form>.contuctus {
    width: 700px;

}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 580px;
    height: 450px;
    background-color: #2C2C2C;
    padding-left: 50px;
    color: rgba(255, 255, 255, 0.8);
}

.contact-info>h4 {
    text-transform: uppercase;
}
















footer {
    height: 110px;
    width: 1580px;
    min-width: 600px;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.copy {
    color: #B8B8B8;
    display: flex;
    align-items: flex-end;
    margin-left: 100px;
    margin-bottom: 20px;
}

.social {
    display: flex;
    align-items: flex-end;
    margin-right: 100px;
    margin-bottom: 20px;
}

.social>img {
    margin-right: 10px;
}